# === DB 설정 ===
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432

# === API Keys ===
GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=
TMAP_APP_KEY=
ORS_API_KEY=
ODSAY_API_KEY=

# === 인증 ===
SECRET_KEY=